{%- import "macros.html" as macros -%}

                <div class="spacer"></div>
                {# The global alert, if there is one #}
                {% include "header/global_alert.html" -%}

                {# The search bar #}
                <div id="search-input-nav">
                    <label for="nav-search">
                        {{ "magnifying-glass" | fas }}
                    </label>

                    {# If there is a search query, put it in the search bar #}
                    {# The tabindex="-1" is used to prevent it to be the first input focused on the page when using the browser shortcut #}
                    <input id="nav-search" name="query" type="text" aria-label="Find crate by search query" tabindex="-1"
                        placeholder="Find crate" {%- if search_query %} value="{{ search_query }}" {%- endif %}>
                </div>
            </form>
        </div>
    </div>
</div>
